streamlit
pandas
XlsxWriter
matplotlib
numpy 
streamlit-drawable-canvas 
scipy
anastruct
ifcopenshell
google-generativeai
Pillow
fpdf2
PyPDF2
python-pptx
python-docx
libxml2-dev
libxslt-dev
ifcopenshell-python








